@import "styles/variables.scss";

nav{
  background-color: #282325;
  height: 5em;

  .sofia-nav{
    color: black;
    font-family: $sofia-font;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1em;
    margin: 3em 3em;
  }

  a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: font-size 0.5s ease;

transition-timing-function: ease-in;
  }
  a:hover {
    font-size: 1.5em;
    text-decoration: underline;
}
}

.main-container{
  display: flex;
  height: 47em;
  background: #282325;
  justify-content: flex-end;
  padding-right: 10em;

h1{
  display: flex;
  color: pink;
  font-size: 160px;
  letter-spacing: 0.1em;
  font-family: $font;
  text-shadow: 3px 3px #9b587a;
  padding: 0.3em;
  }
}
